<nz-spin [nzSpinning]='isLoading'>
  <nz-card>
    <nz-row [nzGutter]='24'>
      <nz-col [nzSpan]='6'>
        <nz-statistic [nzValue]="dashboardData?.user || 0" [nzTitle]="'用户数量'"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]='6'>
        <nz-statistic [nzValue]="dashboardData?.repository || 0" [nzTitle]="'知识库数量'"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]='6'>
        <nz-statistic [nzValue]="dashboardData?.knowledge || 0" [nzTitle]="'知识点数量'" [nzPrefix]='prefixTpl'></nz-statistic>
        <ng-template #prefixTpl><i nz-icon nzType='like'></i></ng-template>
      </nz-col>
      <nz-col [nzSpan]='6'>
        <nz-statistic [nzValue]="dashboardData?.file || 0" [nzTitle]="'文件数量'" [nzPrefix]='prefixTpl'></nz-statistic>
        <ng-template #prefixTpl><i nz-icon nzType='like'></i></ng-template>
      </nz-col>
      <nz-col [nzSpan]='6'>
        <nz-statistic [nzValue]="formatBytes(dashboardData?.fileTotalSize) || 0" [nzTitle]="'文件用量'" [nzPrefix]='prefixTpl'></nz-statistic>
        <ng-template #prefixTpl><i nz-icon nzType='like'></i></ng-template>
      </nz-col>
<!--      <nz-col [nzSpan]='6'>-->
<!--        <nz-statistic-->
<!--          [nzValue]="(11.28 | number: '1.0-2')!"-->
<!--          [nzTitle]="'Active'"-->
<!--          [nzPrefix]='prefixTplOne'-->
<!--          [nzSuffix]="'%'"-->
<!--          [nzValueStyle]="{ color: '#3F8600' }">-->
<!--        </nz-statistic>-->
<!--        <ng-template #prefixTplOne><i nz-icon nzType='arrow-up'></i></ng-template>-->
<!--      </nz-col>-->
    </nz-row>
  </nz-card>
</nz-spin>
