<nz-spin [nzSpinning]="isLoading">
  <div class="table-operations">
<!--    <button nz-button nzType="primary" (click)="openCreateOrEditKitDialog()">创建工具包</button>-->
  </div>
  <form style="margin-left: 8px" nz-form [nzLayout]="'inline'" [formGroup]="kitFilterForm">
    <nz-form-item>
      <nz-form-control>
        <nz-select style="width: 200px" nzPlaceHolder="用户分类" id="type" formControlName="type">
          <nz-option nzValue="personal" nzLabel="personal"></nz-option>
          <nz-option nzValue="company" nzLabel="company"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" style="margin: 0;" (click)="setKitListByKitFilterForm()">搜 索</button>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button style="margin: 0" (click)="cleanFilterFormThenRefresh()">重 置</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <nz-table
    #fileTable
    [nzFrontPagination]="false"
    [nzTotal]="total"
    [nzData]="kitList"
    [nzPageIndex]="pageIndex"
    [nzPageSize]="pageSize"
    (nzPageIndexChange)="handlePageIndexChange($event)">
    <thead>
    <tr>
      <th [nzAlign]="'center'">用户名</th>
      <th [nzAlign]="'center'">创建于</th>
      <th [nzAlign]="'center'">更新于</th>
      <th [nzAlign]="'center'">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of fileTable.data">
      <td [nzAlign]="'center'">{{data.name}}</td>
      <td [nzAlign]="'center'">{{data.createdAt | date:'y-M-d hh:mm'}}</td>
      <td [nzAlign]="'center'">{{data.updatedAt | date:'y-M-d hh:mm'}}</td>
      <td [nzAlign]="'center'">
        <nz-space>
          <nz-space-item>
            <button nz-button nzType="primary" (click)="openCreateOrEditKitDialog(data)">编辑</button>
          </nz-space-item>
          <nz-space-item>
            <button nz-button nzType="primary" (click)="goDomainConfigPage(data)">配置</button>
          </nz-space-item>
          <nz-space-item>
            <button
              nz-button
              nzType="primary"
              [nzDanger]="!data.isDeleted"
              (click)="openChangeKitStatusDialog(data, !data.isDeleted)">
              {{data.isDeleted ? '启用' : '停用'}}
            </button>
          </nz-space-item>
        </nz-space>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-spin>


