:host {
  .table-operations {
    margin-bottom: 16px;

    .operation-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    button {
      margin: 8px;
    }
  }

  nz-select {
    margin: 0 8px 10px 0;
    width: 160px;
  }

  .image-style {
    max-height: 50px;
    max-width: 50px;
  }
}
